@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant discord (&:where(.discord, .discord *));

@theme {
	--spacing: 0.25rem;

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);

	--color-background-light: rgb(255, 255, 255);
	--color-background-dark: rgb(12, 14, 18);
	--color-background-discord: rgb(30, 31, 34);

	--color-foreground-light: rgb(12, 14, 18);
	--color-foreground-dark: rgb(247, 249, 252);

	--color-card-light: rgb(255, 255, 255);
	--color-card-dark: rgb(12, 14, 18);
	--color-card-discord: rgb(43, 45, 49);

	--color-card-foreground-light: rgb(12, 14, 18);
	--color-card-foreground-dark: rgb(247, 249, 252);

	--color-popover-light: rgb(255, 255, 255);
	--color-popover-dark: rgb(12, 14, 18);

	--color-popover-foreground-light: rgb(12, 14, 18);
	--color-popover-foreground-dark: rgb(247, 249, 252);

	--color-primary-light: rgb(19, 22, 28);
	--color-primary-dark: rgb(247, 249, 252);

	--color-primary-foreground-light: rgb(247, 249, 252);
	--color-primary-foreground-dark: rgb(19, 22, 28);

	--color-secondary-light: rgb(240, 244, 247);
	--color-secondary-dark: rgb(22, 26, 33);

	--color-secondary-foreground-light: rgb(19, 22, 28);
	--color-secondary-foreground-dark: rgb(247, 249, 252);

	--color-muted-light: rgb(240, 244, 247);
	--color-muted-dark: rgb(22, 26, 33);

	--color-muted-foreground-light: rgb(108, 116, 128);
	--color-muted-foreground-dark: rgb(155, 164, 178);

	--color-accent-light: rgb(240, 244, 247);
	--color-accent-dark: rgb(22, 26, 33);

	--color-accent-foreground-light: rgb(19, 22, 28);
	--color-accent-foreground-dark: rgb(247, 249, 252);

	--color-destructive-light: rgb(235, 64, 52);
	--color-destructive-dark: rgb(117, 32, 26);

	--color-destructive-foreground-light: rgb(247, 249, 252);
	--color-destructive-foreground-dark: rgb(247, 249, 252);

	--color-border-light: rgb(229, 234, 239);
	--color-border-dark: rgb(22, 26, 33);

	--color-input-light: rgb(229, 234, 239);
	--color-input-dark: rgb(22, 26, 33);
	--color-input-discord: rgb(49, 51, 56);

	--color-ring-light: rgb(12, 14, 18);
	--color-ring-dark: rgb(228, 233, 238);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	::-webkit-scrollbar {
		display: none;
	}
}

@keyframes slideIn {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}

.animate-slideIn {
	animation: slideIn 0.3s ease-out forwards;
}

/* CSS */
.button-50 {
	appearance: button;
	background-color: rgb(12, 14, 18);
	background-image: none;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0 5px 10px 0;
	overflow: visible;
	padding: 12px 40px;
	text-align: center;
	text-transform: none;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.button-50:focus {
	text-decoration: none;
}

.button-50:hover {
	text-decoration: none;
}

.button-50:active {
	box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
	outline: 0;
}

.button-50:not([disabled]):active {
	box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.button-50 {
		padding: 12px 50px;
	}
}